.VPNavBar:not(.home.top) .divider-line, .VPNavBar:not(.has-sidebar):not(.home.top) .divider {
	background-color: transparent !important;
}
.VPNavBar:not(.has-sidebar):not(.home) {
	background-color: var(--vp-nav-bg-color) !important;
}
.VPNavBar:not(.has-sidebar).top {
	background-color: transparent !important;
}